<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.mixpaneltest.mixpaneldroid">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<meta-data android:name="com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates" android:value="false" />
		<meta-data android:name="com.mixpanel.android.MPConfig.DisableDecideChecker" android:value="true" />
		<meta-data android:name="com.mixpanel.android.MPConfig.FlushOnBackground" android:value="true" />
		<meta-data android:name="com.mixpanel.android.MPConfig.DisableViewCrawler" android:value="true" />
		<meta-data android:name="com.mixpanel.android.MPConfig.EnableDebugLogging" android:value="true" />
	</application>
</manifest>